/* portfolio-header.css */
.underline-animation::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px; 
    width: 0;
    background-color: #41B98C; 
    transition: width 0.3s ease-out; 
  }
  
  .underline-animation:hover::after {
    width: 100%;
    transition-delay: 0.3s; 
  }
  
  .active::after {
    width: 100%; /* Underline always visible for the active link */
    transition: none; /* No animation for the active link */
  }
  
  .active {
    font-weight: bold; /* Optional: Highlight active item */
    color: #41B98C; /* Optional: Change text color for active item */
  }
  